In [150]:
import pandas as pd

In [151]:
data = pd.read_csv('real_estate_data.csv', sep='\t')

In [152]:
data

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,9,9700000.0,133.81,2017-03-21T00:00:00,3,3.70,5.0,73.3,3,NaN,...,13.83,NaN,Санкт-Петербург,24665.0,4232.0,1.0,796.0,3.0,381.0,NaN
23695,14,3100000.0,59.00,2018-01-15T00:00:00,3,NaN,5.0,38.0,4,NaN,...,8.50,NaN,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0
23696,18,2500000.0,56.70,2018-02-11T00:00:00,2,NaN,3.0,29.7,1,NaN,...,NaN,NaN,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23697,13,11475000.0,76.75,2017-03-28T00:00:00,2,3.00,17.0,NaN,12,NaN,...,23.30,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000.0,32.30,2017-07-21T00:00:00,1,2.50,5.0,12.3,1,NaN,...,9.00,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
# Описание данных
# airports_nearest — расстояние до ближайшего аэропорта в метрах (м)
# balcony — число балконов
# ceiling_height — высота потолков (м)
# cityCenters_nearest — расстояние до центра города (м)
# days_exposition — сколько дней было размещено объявление (от публикации до снятия)
# first_day_exposition — дата публикации
# floor — этаж
# floors_total — всего этажей в доме
# is_apartment — апартаменты (булев тип)
# kitchen_area — площадь кухни в квадратных метрах (м²)
# last_price — цена на момент снятия с публикации
# living_area — жилая площадь в квадратных метрах(м²)
# locality_name — название населённого пункта
# open_plan — свободная планировка (булев тип)
# parks_around3000 — число парков в радиусе 3 км
# parks_nearest — расстояние до ближайшего парка (м)
# ponds_around3000 — число водоёмов в радиусе 3 км
# ponds_nearest — расстояние до ближайшего водоёма (м)
# rooms — число комнат
# studio — квартира-студия (булев тип)
# total_area — площадь квартиры в квадратных метрах (м²)
# total_images — число фотографий квартиры в объявлении
# Пояснение: апартаменты — это нежилые помещения, не относящиеся к жилому фонду, но имеющие необходимые условия для проживания.

In [154]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

In [155]:
data['last_price'].sort_values()

8793         12190.0
17456       430000.0
14911       430000.0
16274       440000.0
17676       450000.0
            ...
15651    300000000.0
1436     330000000.0
14706    401300000.0
19540    420000000.0
12971    763000000.0
Name: last_price, Length: 23699, dtype: float64

In [156]:
data.iloc[12971]

total_images                             19
last_price                      763000000.0
total_area                            400.0
first_day_exposition    2017-09-30T00:00:00
rooms                                     7
ceiling_height                          NaN
floors_total                           10.0
living_area                           250.0
floor                                    10
is_apartment                            NaN
studio                                False
open_plan                             False
kitchen_area                            NaN
balcony                                 2.0
locality_name               Санкт-Петербург
airports_nearest                    25108.0
cityCenters_nearest                  3956.0
parks_around3000                        1.0
parks_nearest                         530.0
ponds_around3000                        3.0
ponds_nearest                         756.0
days_exposition                        33.0
Name: 12971, dtype: object

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

In [158]:
data.last_price.astype('int')

0        13000000
1         3350000
2         5196000
3        64900000
4        10000000
           ...
23694     9700000
23695     3100000
23696     2500000
23697    11475000
23698     1350000
Name: last_price, Length: 23699, dtype: int32

In [159]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

In [160]:
data.last_price = data.last_price.astype('int')

In [161]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(13), int32(1), int64(3), object(3)
memory usage: 3.6+ MB

In [162]:
data.floors_total = pd.to_numeric(data['floors_total'], errors='ignore')

In [163]:
data.floors_total.value_counts(dropna=False)

floors_total
5.0     5788
9.0     3761
16.0    1376
12.0    1362
4.0     1200
10.0    1174
25.0    1075
6.0      914
17.0     833
3.0      668
7.0      592
14.0     553
18.0     505
24.0     469
8.0      390
2.0      383
15.0     365
23.0     352
19.0     339
22.0     286
20.0     271
13.0     229
11.0     203
27.0     164
21.0     158
26.0     124
NaN       86
1.0       25
35.0      24
28.0      21
36.0       3
34.0       1
60.0       1
29.0       1
33.0       1
52.0       1
37.0       1
Name: count, dtype: int64

In [164]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(13), int32(1), int64(3), object(3)
memory usage: 3.6+ MB

In [165]:
data.floors_total = data.floors_total.astype('int', errors='ignore')

In [166]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(13), int32(1), int64(3), object(3)
memory usage: 3.6+ MB

In [167]:
data.floors_total

0        16.0
1        11.0
2         5.0
3        14.0
4        14.0
         ...
23694     5.0
23695     5.0
23696     3.0
23697    17.0
23698     5.0
Name: floors_total, Length: 23699, dtype: float64

In [168]:
data.first_day_exposition = pd.to_datetime(data.first_day_exposition, format='ISO8601')

In [169]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(13), int32(1), int64(3), object(2)
memory usage: 3.6+ MB

In [170]:
data

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000,108.00,2019-03-07,3,2.70,16.0,51.0,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000,40.40,2018-12-04,1,NaN,11.0,18.6,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000,56.00,2015-08-20,2,NaN,5.0,34.3,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000,159.00,2015-07-24,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000,100.00,2018-06-19,2,3.03,14.0,32.0,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,9,9700000,133.81,2017-03-21,3,3.70,5.0,73.3,3,NaN,...,13.83,NaN,Санкт-Петербург,24665.0,4232.0,1.0,796.0,3.0,381.0,NaN
23695,14,3100000,59.00,2018-01-15,3,NaN,5.0,38.0,4,NaN,...,8.50,NaN,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0
23696,18,2500000,56.70,2018-02-11,2,NaN,3.0,29.7,1,NaN,...,NaN,NaN,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23697,13,11475000,76.75,2017-03-28,2,3.00,17.0,NaN,12,NaN,...,23.30,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000,32.30,2017-07-21,1,2.50,5.0,12.3,1,NaN,...,9.00,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
data.is_apartment.value_counts(dropna=False)

is_apartment
NaN      20924
False     2725
True        50
Name: count, dtype: int64

In [172]:
data.balcony = data.balcony.fillna(0)
# hogwarts_points['faculty_name'] = hogwarts_points['faculty_name'].fillna('Гриффиндор')

In [173]:
data

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000,108.00,2019-03-07,3,2.70,16.0,51.0,8,NaN,...,25.00,0.0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000,40.40,2018-12-04,1,NaN,11.0,18.6,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000,56.00,2015-08-20,2,NaN,5.0,34.3,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000,159.00,2015-07-24,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000,100.00,2018-06-19,2,3.03,14.0,32.0,13,NaN,...,41.00,0.0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,9,9700000,133.81,2017-03-21,3,3.70,5.0,73.3,3,NaN,...,13.83,0.0,Санкт-Петербург,24665.0,4232.0,1.0,796.0,3.0,381.0,NaN
23695,14,3100000,59.00,2018-01-15,3,NaN,5.0,38.0,4,NaN,...,8.50,0.0,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0
23696,18,2500000,56.70,2018-02-11,2,NaN,3.0,29.7,1,NaN,...,NaN,0.0,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23697,13,11475000,76.75,2017-03-28,2,3.00,17.0,NaN,12,NaN,...,23.30,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000,32.30,2017-07-21,1,2.50,5.0,12.3,1,NaN,...,9.00,0.0,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               23699 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(13), int32(1), int64(3), object(2)
memory usage: 3.6+ MB

In [175]:
data.total_images = data.total_images.astype('int32')

In [176]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int32
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               23699 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(13), int32(2), int64(2), object(2)
memory usage: 3.5+ MB

In [177]:
data.rooms = data.rooms.astype('int32')

In [178]:
data.floor = data.floor.astype('int32')

In [179]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int32
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int32
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int32
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               23699 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(13), int32(4), object(2)
memory usage: 3.3+ MB

In [180]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
23694    False
23695    False
23696    False
23697    False
23698    False
Length: 23699, dtype: bool

In [181]:
data.duplicated().count()

23699

In [182]:
len(data.duplicated())

23699

In [183]:
data.duplicated().sum()

0

In [184]:
data.last_price.sort_values()

8793         12190
17456       430000
14911       430000
16274       440000
17676       450000
           ...
15651    300000000
1436     330000000
14706    401300000
19540    420000000
12971    763000000
Name: last_price, Length: 23699, dtype: int32

In [185]:
data.loc[data['last_price'] == 12190, 'last_price'] = 12190000

In [186]:
data.iloc[8793]

total_images                              7
last_price                         12190000
total_area                            109.0
first_day_exposition    2019-03-20 00:00:00
rooms                                     2
ceiling_height                         2.75
floors_total                           25.0
living_area                            32.0
floor                                    25
is_apartment                            NaN
studio                                False
open_plan                             False
kitchen_area                           40.5
balcony                                 0.0
locality_name               Санкт-Петербург
airports_nearest                    36421.0
cityCenters_nearest                  9176.0
parks_around3000                        1.0
parks_nearest                         805.0
ponds_around3000                        0.0
ponds_nearest                           NaN
days_exposition                         8.0
Name: 8793, dtype: object

In [187]:
data.total_area.value_counts().sort_index()

total_area
12.0     1
13.0     3
13.2     1
14.0     1
15.0     2
        ..
590.0    1
618.0    1
631.0    1
631.2    1
900.0    1
Name: count, Length: 2182, dtype: int64

In [188]:
data.first_day_exposition.value_counts(dropna=False).sort_index()

first_day_exposition
2014-11-27    19
2014-11-29     1
2014-12-04     2
2014-12-05     1
2014-12-08     8
              ..
2019-04-29    37
2019-04-30    27
2019-05-01    30
2019-05-02    11
2019-05-03    20
Name: count, Length: 1491, dtype: int64

In [189]:
data.rooms.value_counts(dropna=False).sort_index()

rooms
0      197
1     8047
2     7940
3     5814
4     1180
5      326
6      105
7       59
8       12
9        8
10       3
11       2
12       1
14       2
15       1
16       1
19       1
Name: count, dtype: int64

In [190]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int32
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int32
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int32
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               23699 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(13), int32(4), object(2)
memory usage: 3.3+ MB

In [194]:
data.query('(rooms == 0) and studio == True').sort_values('total_area')

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
8886,10,2450000,15.5,2018-08-22,0,NaN,5.0,10.0,2,NaN,...,NaN,0.0,Санкт-Петербург,24326.0,4589.0,0.0,NaN,1.0,446.0,27.0
716,5,1500000,17.0,2017-06-07,0,2.70,9.0,12.0,1,NaN,...,NaN,0.0,посёлок Шушары,18654.0,29846.0,0.0,NaN,0.0,NaN,40.0
12996,8,1900000,18.0,2019-01-25,0,2.60,5.0,16.0,3,NaN,...,NaN,0.0,Санкт-Петербург,19573.0,15772.0,2.0,149.0,2.0,496.0,10.0
8755,1,1350000,18.8,2017-11-22,0,2.75,19.0,15.8,1,NaN,...,NaN,0.0,Санкт-Петербург,37636.0,14479.0,0.0,NaN,1.0,1127.0,128.0
9817,8,2190000,19.0,2018-10-12,0,3.50,5.0,15.0,1,NaN,...,NaN,0.0,Санкт-Петербург,29561.0,8264.0,2.0,383.0,1.0,781.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10008,20,5050000,44.2,2017-09-14,0,2.70,9.0,32.2,1,NaN,...,NaN,0.0,Санкт-Петербург,24329.0,5955.0,0.0,NaN,2.0,520.0,69.0
13613,16,8100000,58.4,2019-04-26,0,3.30,7.0,33.0,6,NaN,...,NaN,0.0,Санкт-Петербург,14509.0,8288.0,0.0,NaN,0.0,NaN,NaN
21227,0,8200000,71.0,2017-07-21,0,5.80,5.0,68.0,5,NaN,...,NaN,0.0,Санкт-Петербург,20170.0,1261.0,2.0,295.0,3.0,366.0,30.0
3458,6,7400000,73.6,2017-05-18,0,NaN,3.0,50.0,1,NaN,...,NaN,0.0,Санкт-Петербург,26581.0,6085.0,0.0,NaN,1.0,348.0,60.0
20082,10,16300000,98.4,2017-11-08,0,3.10,5.0,60.5,2,NaN,...,NaN,0.0,Санкт-Петербург,26972.0,5819.0,0.0,NaN,1.0,674.0,537.0

In [195]:
data.is_apartment = data.is_apartment.fillna(False)

In [196]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int32
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int32
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int32
 9   is_apartment          23699 non-null  bool
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               23699 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(13), int32(4), object(1)
memory usage: 3.1+ MB

In [197]:
data.is_apartment.describe()

count     23699
unique        2
top       False
freq      23649
Name: is_apartment, dtype: object

In [207]:
data.ceiling_height.value_counts().sort_index().tail(50)

ceiling_height
3.78       3
3.80      20
3.82       1
3.83       1
3.84       1
3.85       2
3.86       2
3.87       1
3.88       1
3.90      14
3.93       1
3.95       8
3.98       1
4.00      39
4.06       1
4.10       3
4.14       1
4.15       1
4.19       2
4.20      10
4.25       1
4.30       1
4.37       1
4.40       3
4.45       2
4.50       7
4.65       1
4.70       2
4.80       1
4.90       1
5.00       1
5.20       1
5.30       2
5.50       1
5.60       1
5.80       1
6.00       1
8.00       3
8.30       1
10.30      1
14.00      1
20.00      1
22.60      1
24.00      1
25.00      7
26.00      1
27.00      8
27.50      1
32.00      2
100.00     1
Name: count, dtype: int64

In [208]:
data.ceiling_height.value_counts(dropna=False)

ceiling_height
NaN     9195
2.50    3515
2.60    1646
2.70    1574
3.00    1112
        ...
5.00       1
2.20       1
4.15       1
3.93       1
3.59       1
Name: count, Length: 184, dtype: int64

In [209]:
data.ceiling_height = data.ceiling_height.fillna(data.ceiling_height.median())

In [210]:
data.ceiling_height.value_counts(dropna=False)

ceiling_height
2.65    9871
2.50    3515
2.60    1646
2.70    1574
3.00    1112
        ...
5.00       1
2.20       1
4.15       1
3.93       1
3.59       1
Name: count, Length: 183, dtype: int64

In [211]:
data.ceiling_height.median()

2.65

In [212]:
data.loc[data['ceiling_height'] > 5, 'ceiling_height'] = data.ceiling_height.median()

In [214]:
data.ceiling_height.value_counts().sort_index()

ceiling_height
1.00     1
1.20     1
1.75     1
2.00    11
2.20     1
        ..
4.65     1
4.70     2
4.80     1
4.90     1
5.00     1
Name: count, Length: 164, dtype: int64

In [215]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int32
 1   last_price            23699 non-null  int32
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int32
 5   ceiling_height        23699 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int32
 9   is_apartment          23699 non-null  bool
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               23699 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(13), int32(4), object(1)
memory usage: 3.1+ MB

In [216]:
data = data.dropna(subset='floors_total')

In [218]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23613 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23613 non-null  int32
 1   last_price            23613 non-null  int32
 2   total_area            23613 non-null  float64
 3   first_day_exposition  23613 non-null  datetime64[ns]
 4   rooms                 23613 non-null  int32
 5   ceiling_height        23613 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21743 non-null  float64
 8   floor                 23613 non-null  int32
 9   is_apartment          23613 non-null  bool
 10  studio                23613 non-null  bool
 11  open_plan             23613 non-null  bool
 12  kitchen_area          21382 non-null  float64
 13  balcony               23613 non-null  float64
 14  locality_name         23565 non-null  object
 15  airports_nearest      18081 non-null  float64
 16  cityCenters_nearest   18104 non-null  float64
 17  parks_around3000      18105 non-null  float64
 18  parks_nearest         8045 non-null   float64
 19  ponds_around3000      18105 non-null  float64
 20  ponds_nearest         9061 non-null   float64
 21  days_exposition       20441 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(13), int32(4), object(1)
memory usage: 3.3+ MB

In [219]:
data.living_area.describe()

count    21743.000000
mean        34.462781
std         22.037433
min          2.000000
25%         18.600000
50%         30.000000
75%         42.300000
max        409.700000
Name: living_area, dtype: float64

In [226]:
data.query('living_area > total_area')

0

In [231]:
# data.living_area = data.living_area.fillna(data.living_area.median())

C:\Users\Max\AppData\Local\Temp\ipykernel_17260\827987789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.living_area = data.living_area.fillna(data.living_area.median())

In [241]:
data.ponds_around3000.value_counts(dropna=False).sort_index()

ponds_around3000
0.0    9044
1.0    5677
2.0    1886
3.0    1498
NaN    5508
Name: count, dtype: int64

In [253]:
data.loc[data['living_area'] > 0].sort_values('living_area')

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
13915,20,6350000,52.0,2018-02-06,2,3.00,6.0,2.0,2,False,...,9.0,0.0,Санкт-Петербург,32453.0,6521.0,0.0,NaN,1.0,1012.0,91.0
21758,0,2330000,23.0,2018-01-01,0,2.65,24.0,2.0,22,False,...,NaN,0.0,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,66.0
23574,14,64990000,139.0,2015-11-24,3,3.00,8.0,3.0,8,False,...,16.0,1.0,Санкт-Петербург,33255.0,5975.0,1.0,630.0,3.0,100.0,280.0
3242,7,4440000,41.0,2017-07-02,1,2.65,17.0,3.0,17,False,...,11.0,0.0,Санкт-Петербург,19272.0,13073.0,0.0,NaN,0.0,NaN,216.0
17582,11,2680000,22.0,2018-08-11,0,2.65,25.0,5.0,8,False,...,NaN,2.0,Санкт-Петербург,22735.0,11618.0,1.0,835.0,1.0,652.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12859,20,140000000,631.2,2019-04-09,7,3.90,4.0,322.3,4,False,...,19.5,1.0,Санкт-Петербург,25707.0,4972.0,0.0,NaN,2.0,210.0,NaN
4237,1,50000000,517.0,2017-10-14,7,2.65,4.0,332.0,3,False,...,22.0,0.0,Санкт-Петербург,22835.0,1847.0,2.0,477.0,2.0,540.0,NaN
12401,20,91500000,495.0,2017-06-19,7,4.65,7.0,347.5,7,False,...,25.0,0.0,Санкт-Петербург,NaN,5735.0,2.0,110.0,0.0,NaN,14.0
5358,20,65000000,590.0,2019-02-14,15,3.50,6.0,409.0,3,False,...,100.0,0.0,Санкт-Петербург,24447.0,4666.0,1.0,767.0,0.0,NaN,14.0
19540,8,420000000,900.0,2017-12-06,12,2.80,25.0,409.7,25,False,...,112.0,0.0,Санкт-Петербург,30706.0,7877.0,0.0,NaN,2.0,318.0,106.0

In [255]:
data.kitchen_area.value_counts(dropna=False).sort_index()

kitchen_area
1.30         1
2.00         7
2.30         1
2.40         1
2.89         1
          ...
100.00       1
100.70       1
107.00       1
112.00       1
NaN       2231
Name: count, Length: 967, dtype: int64

In [266]:
data.loc[data['kitchen_area'] == 'NaN']

Empty DataFrame
Columns: [total_images, last_price, total_area, first_day_exposition, rooms, ceiling_height, floors_total, living_area, floor, is_apartment, studio, open_plan, kitchen_area, balcony, locality_name, airports_nearest, cityCenters_nearest, parks_around3000, parks_nearest, ponds_around3000, ponds_nearest, days_exposition]
Index: []

[0 rows x 22 columns]

In [272]:
data.ponds_nearest.value_counts(dropna=False)

ponds_nearest
NaN       14552
427.0        69
454.0        41
153.0        40
433.0        39
          ...
1253.0        1
967.0         1
1199.0        1
1236.0        1
1134.0        1
Name: count, Length: 1097, dtype: int64

In [273]:
median_kitchen_area = data.kitchen_area.median()

In [274]:
median_kitchen_area

9.1

In [275]:
data.kitchen_area = data.kitchen_area.fillna(median_kitchen_area)

C:\Users\Max\AppData\Local\Temp\ipykernel_17260\2144027169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.kitchen_area = data.kitchen_area.fillna(median_kitchen_area)

In [276]:
pd.options.mode.copy_on_write = True

In [277]:
data.kitchen_area = data.kitchen_area.fillna(median_kitchen_area)

In [281]:
data.kitchen_area.value_counts(dropna=False)

kitchen_area
9.10     2312
6.00     1300
10.00    1262
8.00     1110
9.00     1100
         ...
20.56       1
53.10       1
12.56       1
11.84       1
13.83       1
Name: count, Length: 966, dtype: int64

In [282]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23613 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23613 non-null  int32
 1   last_price            23613 non-null  int32
 2   total_area            23613 non-null  float64
 3   first_day_exposition  23613 non-null  datetime64[ns]
 4   rooms                 23613 non-null  int32
 5   ceiling_height        23613 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           23613 non-null  float64
 8   floor                 23613 non-null  int32
 9   is_apartment          23613 non-null  bool
 10  studio                23613 non-null  bool
 11  open_plan             23613 non-null  bool
 12  kitchen_area          23613 non-null  float64
 13  balcony               23613 non-null  float64
 14  locality_name         23565 non-null  object
 15  airports_nearest      18081 non-null  float64
 16  cityCenters_nearest   18104 non-null  float64
 17  parks_around3000      18105 non-null  float64
 18  parks_nearest         8045 non-null   float64
 19  ponds_around3000      18105 non-null  float64
 20  ponds_nearest         9061 non-null   float64
 21  days_exposition       20441 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(13), int32(4), object(1)
memory usage: 3.3+ MB

In [283]:
data.locality_name.value_counts()

locality_name
Санкт-Петербург                    15651
посёлок Мурино                       520
посёлок Шушары                       439
Всеволожск                           398
Пушкин                               369
                                   ...
поселок Каложицы                       1
посёлок Платформа 69-й километр        1
поселок Почап                          1
поселок Гончарово                      1
посёлок Дзержинского                   1
Name: count, Length: 364, dtype: int64

array(['Санкт-Петербург', 'посёлок Шушары', 'городской посёлок Янино-1',
       'посёлок Парголово', 'посёлок Мурино', 'Ломоносов', 'Сертолово',
       'Петергоф', 'Пушкин', 'деревня Кудрово', 'Коммунар', 'Колпино',
       'поселок городского типа Красный Бор', 'Гатчина', 'поселок Мурино',
       'деревня Фёдоровское', 'Выборг', 'Кронштадт', 'Кировск',
       'деревня Новое Девяткино', 'посёлок Металлострой',
       'посёлок городского типа Лебяжье',
       'посёлок городского типа Сиверский', 'поселок Молодцово',
       'поселок городского типа Кузьмоловский',
       'садовое товарищество Новая Ропша', 'Павловск',
       'деревня Пикколово', 'Всеволожск', 'Волхов', 'Кингисепп',
       'Приозерск', 'Сестрорецк', 'деревня Куттузи', 'посёлок Аннино',
       'поселок городского типа Ефимовский', 'посёлок Плодовое',
       'деревня Заклинье', 'поселок Торковичи', 'поселок Первомайское',
       'Красное Село', 'посёлок Понтонный', 'Сясьстрой', 'деревня Старая',
       'деревня Лесколово', 'посёлок Новый Свет', 'Сланцы',
       'село Путилово', 'Ивангород', 'Мурино', 'Шлиссельбург',
       'Никольское', 'Зеленогорск', 'Сосновый Бор', 'поселок Новый Свет',
       'деревня Оржицы', 'деревня Кальтино', 'Кудрово',
       'поселок Романовка', 'посёлок Бугры', 'поселок Бугры',
       'поселок городского типа Рощино', 'Кириши', 'Луга', 'Волосово',
       'Отрадное', 'село Павлово', 'поселок Оредеж', 'село Копорье',
       'посёлок городского типа Красный Бор', 'посёлок Молодёжное',
       'Тихвин', 'посёлок Победа', 'деревня Нурма',
       'поселок городского типа Синявино', 'Тосно',
       'посёлок городского типа Кузьмоловский', 'посёлок Стрельна',
       'Бокситогорск', 'посёлок Александровская', 'деревня Лопухинка',
       'Пикалёво', 'поселок Терволово',
       'поселок городского типа Советский', 'Подпорожье',
       'посёлок Петровское', 'посёлок городского типа Токсово',
       'поселок Сельцо', 'посёлок городского типа Вырица',
       'деревня Кипень', 'деревня Келози', 'деревня Вартемяги',
       'посёлок Тельмана', 'поселок Севастьяново',
       'городской поселок Большая Ижора', nan,
       'городской посёлок Павлово', 'деревня Агалатово',
       'посёлок Новогорелово', 'городской посёлок Лесогорский',
       'деревня Лаголово', 'поселок Цвелодубово',
       'поселок городского типа Рахья', 'поселок городского типа Вырица',
       'деревня Белогорка', 'поселок Заводской',
       'городской посёлок Новоселье', 'деревня Большие Колпаны',
       'деревня Горбунки', 'деревня Батово', 'деревня Заневка',
       'деревня Иссад', 'Приморск', 'городской посёлок Фёдоровское',
       'деревня Мистолово', 'Новая Ладога', 'поселок Зимитицы',
       'поселок Барышево', 'деревня Разметелево',
       'поселок городского типа имени Свердлова', 'деревня Пеники',
       'поселок Рябово', 'деревня Пудомяги', 'поселок станции Корнево',
       'деревня Низино', 'деревня Бегуницы', 'посёлок Поляны',
       'городской посёлок Мга', 'поселок Елизаветино',
       'посёлок городского типа Кузнечное', 'деревня Колтуши',
       'поселок Запорожское', 'посёлок городского типа Рощино',
       'деревня Гостилицы', 'деревня Малое Карлино',
       'посёлок Мичуринское', 'посёлок городского типа имени Морозова',
       'посёлок Песочный', 'посёлок Сосново', 'деревня Аро',
       'поселок Ильичёво', 'посёлок городского типа Тайцы',
       'деревня Малое Верево', 'деревня Извара', 'поселок станции Вещево',
       'село Паша', 'деревня Калитино',
       'посёлок городского типа Ульяновка', 'деревня Чудской Бор',
       'поселок городского типа Дубровка', 'деревня Мины',
       'поселок Войсковицы', 'посёлок городского типа имени Свердлова',
       'деревня Коркино', 'посёлок Ропша',
       'поселок городского типа Приладожский', 'посёлок Щеглово',
       'посёлок Гаврилово', 'Лодейное Поле', 'деревня Рабитицы',
       'поселок городского типа Никольский', 'деревня Кузьмолово',
       'деревня Малые Колпаны', 'поселок Тельмана',
       'посёлок Петро-Славянка', 'городской посёлок Назия',
       'посёлок Репино', 'посёлок Ильичёво', 'поселок Углово',
       'поселок Старая Малукса', 'садовое товарищество Рахья',
       'поселок Аннино', 'поселок Победа', 'деревня Меньково',
       'деревня Старые Бегуницы', 'посёлок Сапёрный', 'поселок Семрино',
       'поселок Гаврилово', 'поселок Глажево', 'поселок Кобринское',
       'деревня Гарболово', 'деревня Юкки',
       'поселок станции Приветнинское', 'деревня Мануйлово',
       'деревня Пчева', 'поселок Поляны', 'поселок Цвылёво',
       'поселок Мельниково', 'посёлок Пудость', 'посёлок Усть-Луга',
       'Светогорск', 'Любань', 'поселок Селезнёво',
       'поселок городского типа Рябово', 'Каменногорск', 'деревня Кривко',
       'поселок Глебычево', 'деревня Парицы', 'поселок Жилпосёлок',
       'посёлок городского типа Мга', 'городской поселок Янино-1',
       'посёлок Войскорово', 'село Никольское', 'посёлок Терволово',
       'поселок Стеклянный', 'посёлок городского типа Важины',
       'посёлок Мыза-Ивановка', 'село Русско-Высоцкое',
       'поселок городского типа Лебяжье',
       'поселок городского типа Форносово', 'село Старая Ладога',
       'поселок Житково', 'городской посёлок Виллози', 'деревня Лампово',
       'деревня Шпаньково', 'деревня Лаврики', 'посёлок Сумино',
       'посёлок Возрождение', 'деревня Старосиверская',
       'посёлок Кикерино', 'поселок Возрождение',
       'деревня Старое Хинколово', 'посёлок Пригородный',
       'посёлок Торфяное', 'городской посёлок Будогощь',
       'поселок Суходолье', 'поселок Красная Долина', 'деревня Хапо-Ое',
       'поселок городского типа Дружная Горка', 'поселок Лисий Нос',
       'деревня Яльгелево', 'посёлок Стеклянный', 'село Рождествено',
       'деревня Старополье', 'посёлок Левашово', 'деревня Сяськелево',
       'деревня Камышовка',
       'садоводческое некоммерческое товарищество Лесная Поляна',
       'деревня Хязельки', 'поселок Жилгородок',
       'посёлок городского типа Павлово', 'деревня Ялгино',
       'поселок Новый Учхоз', 'городской посёлок Рощино',
       'поселок Гончарово', 'поселок Почап', 'посёлок Сапёрное',
       'посёлок Платформа 69-й километр', 'поселок Каложицы',
       'деревня Фалилеево', 'деревня Пельгора',
       'поселок городского типа Лесогорский', 'деревня Торошковичи',
       'посёлок Белоостров', 'посёлок Алексеевка', 'поселок Серебрянский',
       'поселок Лукаши', 'поселок Петровское', 'деревня Щеглово',
       'поселок Мичуринское', 'деревня Тарасово', 'поселок Кингисеппский',
       'посёлок при железнодорожной станции Вещево', 'поселок Ушаки',
       'деревня Котлы', 'деревня Сижно', 'деревня Торосово',
       'посёлок Форт Красная Горка', 'деревня Новолисино',
       'посёлок станции Громово', 'деревня Глинка', 'посёлок Мельниково',
       'поселок городского типа Назия', 'деревня Старая Пустошь',
       'поселок Коммунары', 'поселок Починок',
       'посёлок городского типа Вознесенье', 'деревня Разбегаево',
       'посёлок городского типа Рябово', 'поселок Гладкое',
       'посёлок при железнодорожной станции Приветнинское',
       'поселок Тёсово-4', 'посёлок Жилгородок', 'деревня Бор',
       'посёлок Коробицыно', 'деревня Большая Вруда', 'деревня Курковицы',
       'посёлок Лисий Нос', 'городской посёлок Советский',
       'посёлок Кобралово', 'деревня Суоранда', 'поселок Кобралово',
       'поселок городского типа Кондратьево',
       'коттеджный поселок Счастье', 'поселок Любань', 'деревня Реброво',
       'деревня Зимитицы', 'деревня Тойворово', 'поселок Семиозерье',
       'поселок Лесное', 'поселок Совхозный', 'поселок Усть-Луга',
       'посёлок Ленинское', 'посёлок Суйда',
       'посёлок городского типа Форносово', 'деревня Нижние Осельки',
       'посёлок станции Свирь', 'поселок Перово', 'Высоцк',
       'поселок Гарболово', 'село Шум', 'поселок Котельский',
       'поселок станции Лужайка', 'деревня Большая Пустомержа',
       'поселок Красносельское', 'деревня Вахнова Кара', 'деревня Пижма',
       'коттеджный поселок Кивеннапа Север', 'поселок Коробицыно',
       'поселок Ромашки', 'посёлок Перово', 'деревня Каськово',
       'деревня Куровицы', 'посёлок Плоское', 'поселок Сумино',
       'поселок городского типа Большая Ижора', 'поселок Кирпичное',
       'деревня Ям-Тесово', 'деревня Раздолье', 'деревня Терпилицы',
       'поселок городского типа Токсово', 'посёлок Шугозеро',
       'деревня Ваганово', 'поселок Пушное', 'садовое товарищество Садко',
       'посёлок Усть-Ижора', 'деревня Выскатка',
       'городской посёлок Свирьстрой', 'поселок Громово',
       'деревня Кисельня', 'посёлок Старая Малукса',
       'деревня Трубников Бор', 'поселок Калитино',
       'посёлок Высокоключевой', 'садовое товарищество Приладожский',
       'посёлок Пансионат Зелёный Бор', 'деревня Ненимяки',
       'поселок Пансионат Зелёный Бор', 'деревня Снегирёвка',
       'деревня Рапполово', 'деревня Пустынка', 'поселок Рабитицы',
       'деревня Большой Сабск', 'деревня Русско', 'деревня Лупполово',
       'деревня Большое Рейзино', 'деревня Малая Романовка',
       'поселок Дружноселье', 'поселок Пчевжа', 'поселок Володарское',
       'деревня Нижняя', 'коттеджный посёлок Лесное', 'деревня Тихковицы',
       'деревня Борисова Грива', 'посёлок Дзержинского'], dtype=object)

In [287]:
data = data.dropna(subset='locality_name')

In [288]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23565 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23565 non-null  int32
 1   last_price            23565 non-null  int32
 2   total_area            23565 non-null  float64
 3   first_day_exposition  23565 non-null  datetime64[ns]
 4   rooms                 23565 non-null  int32
 5   ceiling_height        23565 non-null  float64
 6   floors_total          23565 non-null  float64
 7   living_area           23565 non-null  float64
 8   floor                 23565 non-null  int32
 9   is_apartment          23565 non-null  bool
 10  studio                23565 non-null  bool
 11  open_plan             23565 non-null  bool
 12  kitchen_area          23565 non-null  float64
 13  balcony               23565 non-null  float64
 14  locality_name         23565 non-null  object
 15  airports_nearest      18041 non-null  float64
 16  cityCenters_nearest   18064 non-null  float64
 17  parks_around3000      18065 non-null  float64
 18  parks_nearest         8030 non-null   float64
 19  ponds_around3000      18065 non-null  float64
 20  ponds_nearest         9036 non-null   float64
 21  days_exposition       20394 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(13), int32(4), object(1)
memory usage: 3.3+ MB

In [292]:
data.days_exposition.value_counts(dropna=False).sort_index()

days_exposition
1.0          1
2.0          3
3.0        157
4.0        174
5.0        152
          ...
1513.0       1
1553.0       1
1572.0       1
1580.0       1
NaN       3171
Name: count, Length: 1140, dtype: int64

In [294]:
data.days_exposition = data.days_exposition.fillna(0).astype('int16')

In [295]:
data.days_exposition.value_counts(dropna=False).sort_index()

days_exposition
0       3171
1          1
2          3
3        157
4        174
        ...
1512       2
1513       1
1553       1
1572       1
1580       1
Name: count, Length: 1140, dtype: int64

In [296]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23565 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23565 non-null  int32
 1   last_price            23565 non-null  int32
 2   total_area            23565 non-null  float64
 3   first_day_exposition  23565 non-null  datetime64[ns]
 4   rooms                 23565 non-null  int32
 5   ceiling_height        23565 non-null  float64
 6   floors_total          23565 non-null  float64
 7   living_area           23565 non-null  float64
 8   floor                 23565 non-null  int32
 9   is_apartment          23565 non-null  bool
 10  studio                23565 non-null  bool
 11  open_plan             23565 non-null  bool
 12  kitchen_area          23565 non-null  float64
 13  balcony               23565 non-null  float64
 14  locality_name         23565 non-null  object
 15  airports_nearest      18041 non-null  float64
 16  cityCenters_nearest   18064 non-null  float64
 17  parks_around3000      18065 non-null  float64
 18  parks_nearest         8030 non-null   float64
 19  ponds_around3000      18065 non-null  float64
 20  ponds_nearest         9036 non-null   float64
 21  days_exposition       23565 non-null  int16
dtypes: bool(3), datetime64[ns](1), float64(12), int16(1), int32(4), object(1)
memory usage: 3.2+ MB

In [297]:
data.floors_total = data.floors_total.astype('int16')

In [298]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23565 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23565 non-null  int32
 1   last_price            23565 non-null  int32
 2   total_area            23565 non-null  float64
 3   first_day_exposition  23565 non-null  datetime64[ns]
 4   rooms                 23565 non-null  int32
 5   ceiling_height        23565 non-null  float64
 6   floors_total          23565 non-null  int16
 7   living_area           23565 non-null  float64
 8   floor                 23565 non-null  int32
 9   is_apartment          23565 non-null  bool
 10  studio                23565 non-null  bool
 11  open_plan             23565 non-null  bool
 12  kitchen_area          23565 non-null  float64
 13  balcony               23565 non-null  float64
 14  locality_name         23565 non-null  object
 15  airports_nearest      18041 non-null  float64
 16  cityCenters_nearest   18064 non-null  float64
 17  parks_around3000      18065 non-null  float64
 18  parks_nearest         8030 non-null   float64
 19  ponds_around3000      18065 non-null  float64
 20  ponds_nearest         9036 non-null   float64
 21  days_exposition       23565 non-null  int16
dtypes: bool(3), datetime64[ns](1), float64(11), int16(2), int32(4), object(1)
memory usage: 3.0+ MB

In [299]:
data.airports_nearest = data.airports_nearest.fillna(data.airports_nearest.median())

In [300]:
data.cityCenters_nearest = data.cityCenters_nearest.fillna(data.cityCenters_nearest.median())
data.parks_around3000 = data.parks_around3000.fillna(data.parks_around3000.median())
data.parks_nearest = data.parks_nearest.fillna(data.parks_nearest.median())
data.ponds_around3000 = data.ponds_around3000.fillna(data.ponds_around3000.median())
data.ponds_nearest = data.ponds_nearest.fillna(data.ponds_nearest.median())

In [301]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23565 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23565 non-null  int32
 1   last_price            23565 non-null  int32
 2   total_area            23565 non-null  float64
 3   first_day_exposition  23565 non-null  datetime64[ns]
 4   rooms                 23565 non-null  int32
 5   ceiling_height        23565 non-null  float64
 6   floors_total          23565 non-null  int16
 7   living_area           23565 non-null  float64
 8   floor                 23565 non-null  int32
 9   is_apartment          23565 non-null  bool
 10  studio                23565 non-null  bool
 11  open_plan             23565 non-null  bool
 12  kitchen_area          23565 non-null  float64
 13  balcony               23565 non-null  float64
 14  locality_name         23565 non-null  object
 15  airports_nearest      23565 non-null  float64
 16  cityCenters_nearest   23565 non-null  float64
 17  parks_around3000      23565 non-null  float64
 18  parks_nearest         23565 non-null  float64
 19  ponds_around3000      23565 non-null  float64
 20  ponds_nearest         23565 non-null  float64
 21  days_exposition       23565 non-null  int16
dtypes: bool(3), datetime64[ns](1), float64(11), int16(2), int32(4), object(1)
memory usage: 3.0+ MB

In [303]:
data.airports_nearest = data.airports_nearest.astype('int32')
data.cityCenters_nearest = data.cityCenters_nearest.astype('int32')
data.parks_around3000 = data.parks_around3000.astype('int16')
data.parks_nearest = data.parks_nearest.astype('int32')
data.ponds_around3000 = data.ponds_around3000.astype('int16')
data.ponds_nearest = data.ponds_nearest.astype('int32')

In [304]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23565 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23565 non-null  int32
 1   last_price            23565 non-null  int32
 2   total_area            23565 non-null  float64
 3   first_day_exposition  23565 non-null  datetime64[ns]
 4   rooms                 23565 non-null  int32
 5   ceiling_height        23565 non-null  float64
 6   floors_total          23565 non-null  int16
 7   living_area           23565 non-null  float64
 8   floor                 23565 non-null  int32
 9   is_apartment          23565 non-null  bool
 10  studio                23565 non-null  bool
 11  open_plan             23565 non-null  bool
 12  kitchen_area          23565 non-null  float64
 13  balcony               23565 non-null  float64
 14  locality_name         23565 non-null  object
 15  airports_nearest      23565 non-null  int32
 16  cityCenters_nearest   23565 non-null  int32
 17  parks_around3000      23565 non-null  int16
 18  parks_nearest         23565 non-null  int32
 19  ponds_around3000      23565 non-null  int16
 20  ponds_nearest         23565 non-null  int32
 21  days_exposition       23565 non-null  int16
dtypes: bool(3), datetime64[ns](1), float64(5), int16(4), int32(8), object(1)
memory usage: 2.4+ MB